.track-number-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff; 
    color: white;
    border: none;
    
    
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .track-number-button:hover {
    background-color:#c0cad4; 
  }
  
  .track-number-button svg {
    height: 20px;
    width: 20px; 
    fill: currentColor;
  }
  

   
 
  .track-number-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: rgb(5, 5, 5);
    border: none;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  .track-number-button .track-number-svg-wrapper{
    font-size: 20px;
    margin-right: 4px;
    display: flex;
    align-items: center;
  }
  .track-number-conteiner{
    display: flex;
    justify-content: start;
    border: 1px solid black;
    border-radius:4px;
    
  }
  
  .track-number-button:hover {
    background-color: #c0cad4;
  }

  .chevrone-dropdown-arrows-vertical{
    background-color: white;
    
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: center;
    font-size: 20px;
    transition: background-color 0.3s;
    
    
  }
  .chevrone-dropdown-arrows-vertical:hover {
    background-color: #c0cad4; 
  }

  
  @media (max-width: 900px) {
    .track-number-button {
      font-size: 14px; 
      padding: 8px 15px;
      width: 85px;
      
    }
  
    .track-number-button svg {
      height: 18px;
      width: 18px;

    }
    .track-number-conteiner{
      height: 36px;
      margin-left: 5px;
    }
  }

 
  
