.song-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.2s;
}

.song-row:hover {
  background-color: #f0f0f0; 
}

.song-row > span {
  margin: 0 5px;
  flex-grow: 1; 
}


.icons-container {
  display: flex;
  align-items: center;
}

.icons-container > div {
  margin-left: 10px;
  cursor: pointer;
}

.icons-container > div:hover {
  color: #007bff; 
}


@media (max-width: 360px) { 
  .song-row {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px; 
  }

  .song-row > span, .icons-container > div {
    margin-bottom: 4px; 
    width: 100%; 
  }

  .icons-container {
    flex-direction: row;
    justify-content: start; 
    flex-wrap: wrap; 
    width: 100%; 
    margin-top: 5px; 
  }

  .icons-container > div {
    flex-basis: 20%;
    margin: 0 2px; 
    text-align: center; 
  }

  
  .song-row > span {
    font-size: 14px; 
  }
}